<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>I have a passion for creating efficient and user-friendly web applications.
          With expertise in WordPress, Symfony, and REST API, I have a strong foundation in web development technologies.</p>
      </div>
      <div class="col-lg-4">
        <p>I am eager to continuously learn and improve my skills to deliver high-quality results that meet and exceed client expectations. </p>
      </div>
    </div>
  </div>
</section>
